<%- include('partial/header'); -%>

        <main>
            <div class="jumbotron">
                <table class="table table-bordered table-hover table-sm">
                    <thead class="thead-dark">
                        <tr>
                            <th scope="col">User</th>
                            <th scope="col">Group</th>
                            <th scope="col">Disabled</th>
                        </tr>
                    </thead>
                 
                    <% for (var i = 0; i < output.length; i++) { %>
                     <tr>
                       <td scope="row"><%= output[i].User %></td>
                       <td><%= output[i].Group %></td>
                       <td><%= output[i].Disabled %></td>
                     </tr>    
                    <% } %>
                 </table>
            </div>
        </main>

        <footer>
            <%- include('partial/footer'); -%>
        </footer>

    </body>
</html>